body {
	background: #000;
	text-align: center;
}

h1 {
	color: #fff;
	font: {
		size: 56px;
	}
}

h3 {
	color: #fff;
	font: {
		size: 42px;
	}
}

p {
	color: blueviolet;
	margin: 0;
	font: {
		size: 36px;
	}
}
