@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,700&display=swap');

#page {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	min-height: 100vh;
}

body {
	color: #373737;
	background: #fff;

	&.dark-mode {
		color: #fff;
			background: #373737;
	}
}

.wrapper {
	min-width: 320px;
	margin: 0 auto;
}
