.header_area {
	padding: 15px;
	position: relative;
	width: 100%;
	z-index: 9999;
	transition: background 0.4s, all 0.3s linear;
	box-shadow: 0px 10px 27px 3px #dddddd4d;
	background: #6783ff;
}

/* TODO: Navbar */
.navbar {
	background: transparent;
	padding: 0px;
	border: 0px;
	border-radius: 0px;
}

.navbar > .container {
	justify-content: space-evenly;
}

/*? Logo */
.navbar-light .navbar-brand {
	padding: 0;
	margin: 0;
	font-weight: bold;
	color: #fcff00;
	font-size: 24px;
}

.navbar-light .navbar-brand:hover {
	color: #fcff00;
}

button.navbar-toggler {
	outline: none;
	color: #fff;
	border: none;
	border-radius: 0px;
	padding: 0px;
	cursor: pointer;
}

.navbar-toggler[aria-expanded='false'] span:nth-child(2) {
	opacity: 1;
}

.navbar-toggler[aria-expanded='true'] span:nth-child(2) {
	opacity: 0;
}

.navbar-toggler[aria-expanded='true'] span:first-child {
	transform: rotate(-45deg);
	position: relative;
	top: 7.5px;
}

.navbar-toggler[aria-expanded='true'] span:last-child {
	transform: rotate(45deg);
	bottom: 8px;
	position: relative;
}

.navbar-toggler span {
	display: block;
	width: 25px;
	height: 3px;
	background: #004282;
	margin: auto;
	transition: all 0.4s linear;
	cursor: pointer;
}

.navbar-toggler span:not(:last-child) {
	margin-bottom: 5px;
}

.nav-link {
	text-align: center;
	text-transform: capitalize;
	color: #fff;
	line-height: 40px;
	padding: 0px 30px;
	transition: all 150ms linear;
	display: block;
}

.nav-link:after {
	display: none;
}

.submenu {
	position: relative;
}

.submenu ul {
	border: none;
	padding: 0px;
	border-radius: 0px;
	box-shadow: none;
	margin: 0px;
	background: #ffffff2e;
}

.submenu ul::before {
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	right: 24px;
	top: 45px;
	z-index: 3;
	opacity: 0;
	transition: all 400ms linear;
}

.nav-item {
	display: block;
	transition: all 0.4s linear;
}

.navbar-light .navbar-nav .nav-link {
	color: #fff;
	font-weight: bold;
}

.navbar-light .navbar-nav .active .nav-link,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .show > .nav-link {
	color: #fcff00;
}

.nav-item-icon {
	display: flex;
}

.nav-shop {
	display: flex;
	justify-content: space-around;
	margin: 10px 0 0 0;
	padding: 0;
	align-items: center;
}

.nav-shop i,
.nav-shop span {
	font-size: 18px;
	color: #fff;
	cursor: pointer;
}

.nav-shop i:hover {
	color: #fcff00;
	transition: all 0.4s ease;
}

.nav-shop button {
	align-items: center;
	border: none;
	outline: none;
	background: transparent;
}

.nav-shop .nav-item a {
	color: #fff;
	font-weight: bold;
	border: 2px solid #fff;
	border-radius: 20px;
	padding: 5px 10px;
}

.nav-shop .nav-item a:hover {
	text-decoration: none;
	color: #fcff00;
	border: 2px solid #fcff00;
	transition: all 0.4s ease;
}
