body {
  background: #000;
  color: #c4c4c4;
}

.local-date {
  color: #eee;
  background: #222;
}

.header__row {
  background: #000c66;
}

.logo__link {
  color: #c4c4c4;
}

nav ul li a {
  color: #c4c4c4;
}
nav ul li a.active, nav ul li a:hover {
  text-decoration: none;
}
nav .menu-btn i {
  color: #c4c4c4;
}

@media (max-width: 920px) {
  nav ul {
    background: #000c66;
  }

  nav ul li a.active, nav ul li a:hover {
    background: none;
    color: #c0ff00;
  }
}
@media (min-width: 920px) {
  nav ul li a.active, nav ul li a:hover {
    border-bottom: 2px solid;
    border-radius: 0;
  }
}
.footer {
  background: #000c66;
}

.copyright {
  color: #c4c4c4;
}