.wrapper {
	min-width: 320px;
}

//! Header
.header_area {
	padding: 15px;
	position: relative;
	width: 100%;
	z-index: 9999;
	transition: background 0.4s, all 0.3s linear;
	box-shadow: 0px 10px 27px 3px #dddddd4d;
	background: #5e5e5e;

	// TODO: Navbar
	.navbar {
		background: transparent;
		padding: 0px;
		border: 0px;
		border-radius: 0px;

		//? Logo
		.navbar-brand {
			padding: 0;
			margin: 0;
		}

		.navbar-toggler {
			border: none;
			outline: none;
			border-radius: 0px;
			padding: 0px;
			cursor: pointer;
		}

		.navbar-toggler[aria-expanded='false'] span:nth-child(2) {
			opacity: 1;
		}

		.navbar-toggler[aria-expanded='true'] span:nth-child(2) {
			opacity: 0;
		}

		.navbar-toggler[aria-expanded='true'] span:first-child {
			transform: rotate(-45deg);
			position: relative;
			top: 7.5px;
		}

		.navbar-toggler[aria-expanded='true'] span:last-child {
			transform: rotate(45deg);
			bottom: 8px;
			position: relative;
		}

		.navbar-toggler span {
			display: block;
			width: 25px;
			height: 3px;
			background: #004282;
			margin: auto;
			margin-bottom: 5px;
			transition: all 0.4s linear;
			cursor: pointer;
		}

		.nav {
			.nav-item {
				//TODO: Nav link
				.nav-link {
					text-align: center;
					// padding: 30px 0;
					text-transform: capitalize;
					color: $title-color;
					display: inline-block;

					&:after {
						display: none;
					}
				}

				&:hover,
				&.active {
					.nav-link {
						color: $primary-color;
					}
				}

				&.submenu {
					position: relative;
					ul {
						border: none;
						padding: 0px;
						border-radius: 0px;
						box-shadow: none;
						margin: 0px;
						background: #fff;

						&:before {
							content: '';
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 10px 10px 0 10px;
							border-color: #eeeeee transparent transparent transparent;
							position: absolute;
							right: 24px;
							top: 45px;
							z-index: 3;
							opacity: 0;
							transition: all 400ms linear;
						}

						.nav-item {
							display: block;
							float: none;
							text-align: center;
							right: 0;
							margin-right: 0px;
							border-bottom: 1px solid #ededed;
							margin-left: 0px;
							transition: all 0.4s linear;

							.nav-link {
								line-height: 45px;
								color: $title-color;
								padding: 0px 30px;
								transition: all 150ms linear;
								display: block;
								margin-right: 0px;
							}

							&:last-child {
								border-bottom: none;
							}

							&:hover {
								.nav-link {
									background: $primary-color;
									color: #fff;
								}
							}
						}
					}

					&:hover {
						ul {
							.nav-item {
								margin-top: 0px;
							}
						}
					}

					&:last-child {
						margin-right: 0px;
					}
				}
			}
		}
	}

	&.navbar_fixed {
		.main_menu {
			position: fixed;
			width: 100%;
			top: -70px;
			left: 0;
			right: 0;
			background: #ffffff;
			@include transform(translateY(70px));
			@include transition();
			box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
			.navbar {
				.nav {
					.nav-item {
						.nav-link {
							line-height: 70px;
						}
					}
				}
			}
		}
	}
}

.nav-shop {
	li {
		display: inline-block;
		margin-right: 15px;

		i,
		span {
			font-size: 16px;
			color: $title-color;
		}

		button {
			padding: 0;
			border: 0;
			background: transparent;
			position: relative;

			.nav-shop__circle {
				font-size: 12px;
				display: inline-block;
				background: $primary-color;
				color: #fff;
				padding: 0px 5px;
				border-radius: 50%;
				position: absolute;
				top: -8px;
				right: -12px;
			}
		}

		&:last-child {
			margin-left: 40px;
		}
	}
}
