*,
*::before,
*::after {
	box-sizing: border-box;
	overflow-x: hidden;
}

body {
	background: dodgerblue;
}

h1 {
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	margin: 30px 0;
	color: #fff;
}

#todo-form {
	display: flex;
	justify-content: center;
	margin: 30px 0;
}

#input-value {
	width: 60vw;
	padding: 10px 15px;
	text-align: center;
	overflow: hidden;
	border: 2px dotted #005092;
	border-radius: 10px;
}

#send-btn {
	width: 30vw;
	padding: 10px;
	text-align: center;
	overflow: hidden;
	border: 2px dotted #005092;
	border-radius: 10px;
	margin-left: 5px;
}

li {
	width: 80vw;
	margin: 0 auto;
	font-size: 1.3rem;
	color: #000;
	padding: 15px 0 15px 15px;
	border: 2px dotted #005092;
	border-radius: 10px;
	list-style: none;
	background: #ffffff4d;
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.close {
	padding: 0 15px 0 0;
}

.close:hover {
	color: red;
	font-size: 1.3rem;
	cursor: pointer;
}
