body {
	background: cornflowerblue;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

ul {
	width: 80vw;
	margin: 0 auto;
	padding: 0;
}

#main {
	margin: 20px 0;
	display: flex;
	justify-content: center;
	flex-direction: row;
}

#input-value {
	width: 50vw;
	padding: 10px 15px;
	border-radius: 10px;
	outline: none;
	border: 2px dotted #0043a8;
}

#send-btn {
	width: 30vw;
	padding: 10px 12px;
	border-radius: 10px;
	outline: none;
	margin-left: 5px;
	border: 2px dotted #0043a8;
}
