.footer {
  margin-top: auto;
  text-align: center;
  background: var(--background-footer);
  line-height: 19px;
  padding: 10px 0;
  transition: all 0.5s ease;

  font: {
    size: 16px;
    weight: 700;
    family: $font-stack;
  }

  &__copyright {
    span {
      color: #eee;
    }

    p {
      color: #2c5aff;
    }
  }
}