*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

body {
	background: teal;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

ul,
ol,
li {
	padding: 0;
	margin: 0;
}

.wrapper {
	padding: 0 10px;
	margin: 0 auto;
}

// TODO: TodoList
#todo-list {
	display: flex;
	justify-content: center;
	margin: 30px 0;

	#input-value {
		width: 60vw;
		padding: 10px 15px;
		outline-style: none;
		border: none;
		border-radius: 10px;
	}

	.for-error::placeholder {
		color: #ff0000;
	}

	#btn-send {
		width: 30vw;
		padding: 10px;
		border: none;
		border-radius: 10px;
		cursor: pointer;
	}
}

#list {
	margin-top: 20px;
	li {
		margin-top: 10px;
		margin: 10px auto;
		width: 85vw;
		padding: 10px 15px;
		color: #fff;
		background: #ffffff4d;
		list-style: none;
		border-radius: 10px;
	}
}

// TODO: PlanList
#random-numbers {
	display: flex;
	justify-content: center;
	margin: 100px 0;

	.random-numbers-inner {
		display: flex;
		align-items: center;
	}

	#amount-value {
		width: 60vw;
		padding: 10px 15px;
		outline-style: none;
		border: none;
		border-radius: 10px;
	}

	.for-error::placeholder {
		color: #ff0000;
	}

	#amount-send {
		width: 30vw;
		padding: 10px;
		border: none;
		border-radius: 10px;
		margin-left: 5px;
		cursor: pointer;
	}

	#numbers-list {
		margin-top: 20px;
		width: 85vw;

		li {
			margin-top: 10px;
			margin: 10px auto;
			padding: 10px 15px;
			color: #fff;
			background: #ffffff4d;
			list-style: none;
			border-radius: 10px;
		}
	}
}

@media (min-width: 768px) {
	.page {
		display: flex;
		justify-content: space-between;
	}

	.wrapper {
		padding: 0 30px;
	}

	// TODO: TodoList
	#todo-list {
		display: block;

		.todo-list-inner {
			display: flex;
			justify-content: flex-end;
			flex-direction: column;
			flex-wrap: wrap;
			align-content: flex-end;
		}

		#input-value {
			width: 40vw;
		}

		#btn-send {
			margin: 10px auto;
		}

		#list {
			margin: 20px auto;
			width: 35vw;

			li {
				width: auto;
			}
		}
	}

	// TODO: RandomNumbers
	#random-numbers {
		display: block;
		margin: 30px 0;

		.random-numbers-inner {
			display: flex;
			justify-content: flex-end;
			flex-direction: column;
			flex-wrap: wrap;
			align-content: flex-end;
		}

		#amount-value {
			width: 40vw;
		}

		#amount-send {
			margin: 10px auto;
		}

		#numbers-list {
			margin: 20px auto;
			width: 35vw;

			li {
				width: auto;
			}
		}
	}
}
