.form {
  min-width: 290px;
  max-width: 520px;
  margin: 100px auto;
  padding: 10px;
  box-shadow: 0 0 10px 0 #222;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.form__title {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
}
.form .label {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
}
.form__login-field, .form__password-field {
  padding: 10px 15px;
  outline: none;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
.form__login-field:focus, .form__password-field:focus {
  border-bottom: 2px solid #222;
  transition: 0.3s ease;
}
.form .password-field {
  position: relative;
}
.form__password-btn {
  position: absolute;
  right: 10px;
  top: 65px;
  cursor: pointer;
  font-size: 18px;
}
.form__password-btn.active::after {
  content: "";
  width: 25px;
  height: 3px;
  background: #222;
  position: absolute;
  right: -1px;
  top: 8px;
  transform: rotate(45deg);
}
.form__register-btn {
  margin-top: 25px;
  padding: 10px 0;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}