$font-stack: 'Montserrat', sans-serif;

@mixin flexible() {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

* {
	box-sizing: border-box;
}

.background-page {
	background-image: linear-gradient(
		228.57deg,
		#323264 11.93%,
		#323264 57.17%,
		#643e72 87.46%
	);
	// border-radius: 0 0 12px 12px;
}

.container {
	height: 100%;
	background-image: url('../Image/Symbol.png');
	background-position: center;
	background-repeat: no-repeat;
	padding: 0 0 30px 0;
}

.wrapper {
	min-width: 100%;
	margin: 0 auto;
}

.contact {
	@include flexible();
	background-color: rgba(245, 245, 250, 0.2);
	padding: 10px 15px;

	a {
		display: inline-block;

		font: {
			family: $font-stack;
			weight: 700;
			size: 16px;
		}

		line-height: 20px;
		color: #fff;
		text-decoration: none;
	}

	address {
		display: none;
		line-height: 20px;
		color: #b3b3ba;

		font: {
			family: $font-stack;
			weight: 400;
			size: 16px;
		}
	}

	.fb {
		display: none;
	}
}

.lang {
	button {
		background: none;
		border: none;
		color: #fff;
		cursor: pointer;
		padding: 5px 6px;
		line-height: 15px;

		font: {
			family: $font-stack;
			size: 12px;
			weight: 700;
		}

		&:first-child {
			margin-left: 0;
		}

		&:hover:not(.active-lang) {
			padding: 5px 6px;
			background-color: rgba(255, 255, 255, 0.2);
			border-radius: 20px;
		}
	}
}

button.active-lang {
	padding: 5px 6px;
	background-color: #f0145a;
	border-radius: 20px;
}

.sidebar {
	@include flexible();
	padding: 15px;

	svg {
		width: 70px;
		height: 32px;
	}
}

.logo-desktop {
	display: none;
}

.navbar {
	&:active {
		background: #95959c;
		border-radius: 8px;
		transition: all 0.3s ease;
	}
}

.burger {
	width: 32px;
	height: 32px;
	position: relative;
	cursor: pointer;
	z-index: 2;

	span {
		display: block;
		width: 22px;
		height: 2px;
		border-radius: 2px;
		background-color: #fff;
		position: absolute;
		left: 5px;
		transition: all 0.3s linear;
		opacity: 1;

		&:first-child {
			top: 6px;
		}

		&:nth-child(2),
		&:nth-child(3) {
			top: 14px;
		}

		&:last-child {
			top: 22px;
		}
	}
}

.check-burger {
	width: 32px;
	height: 32px;
	position: absolute;
	opacity: 0;
	z-index: 3;
	cursor: pointer;

	&:checked + .burger span {
		&:first-child {
			top: -10px;
			opacity: 0;
		}

		&:nth-child(2) {
			transform: rotate(45deg);
		}

		&:nth-child(3) {
			transform: rotate(-45deg);
		}

		&:last-child {
			top: 60px;
			opacity: 0;
		}
	}

	&:checked + .burger + .nav {
		transform: translate(0, 0);
	}
}

.menu {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
	flex-direction: column;
	position: fixed;
	left: 14px;
	right: 14px;
	bottom: 0;
	border-radius: 14px;
	background-color: #fff;
	z-index: 1;
	padding: 64px 12px 12px;
	transform: translate(0, 100vh);
	transition: all 0.3s linear;

	a {
		text-decoration: none;
		background: #f5f5fa;
		border-radius: 12px;
		width: 100%;
		text-align: center;

		&:active {
			background: #e6e6f0;
			transition: all 0.3s ease;
		}
	}

	&-link {
		line-height: 29px;
		color: #24a3ff;
		// list-style: none;
		padding: 7px 0;

		font: {
			family: $font-stack;
			weight: 700;
			size: 24px;
		}
	}
}

.active-link {
	color: #f0145a;
	margin-left: 0;
}

.close {
	position: absolute;
	cursor: pointer;
	top: 12px;
	right: 12px;
	color: #ec6f5d;

	font: {
		size: 32px;
		weight: 700;
	}
}

.un-active-navbar {
	display: none;
}

h1 {
	width: 315px;
	text-align: center;
	line-height: 46px;
	color: rgba(255, 255, 255, 1);
	margin: 140px auto 215px auto;

	font: {
		family: $font-stack;
		size: 38px;
		weight: 700;
	}
}

.button {
	width: 42px;
	height: 42px;
	background: none;
	border-radius: 50%;
	border: 2px solid grey;
	margin: 0 auto;
	text-align: center;
	cursor: pointer;

	svg {
		margin-top: 13px;
	}

	&:hover {
		border: 2px solid #ab0c3f;
		transition: all 0.4s ease;
		cursor: pointer;
		stroke: #f0145a;

		path {
			border: 2px solid #ab0c3f;
			transition: all 0.4s ease;
			cursor: pointer;
			stroke: #f0145a;
		}
	}
}

@media (min-width: 768px) {
	.wrapper {
		padding: 50px 60px;
	}
	.container {
		padding: 0;
		background-position: top;
	}

	.contact {
		background: none;
		// padding: 50px 0 0 0;
		padding: 0;
		display: flex;
		justify-content: flex-start;

		.fb {
			display: flex;
			align-items: center;

			&::before {
				content: '';
				width: 6px;
				height: 6px;
				background-color: #e6e6f0;
				border-radius: 20px;
				margin-right: 6px;
			}

			path {
				&:hover {
					fill: #f0145a;
					transition: all 0.4s ease;
				}
			}
		}

		address {
			align-items: center;
			display: flex;
			margin-left: 6px;
			margin-bottom: 0;

			&::before {
				content: '';
				width: 6px;
				height: 6px;
				background-color: #e6e6f0;
				border-radius: 20px;
				margin-right: 6px;
			}
		}

		a {
			margin-left: 6px;
			display: flex;
			color: #fff;
			align-items: center;

			&::before {
				content: '';
				width: 6px;
				height: 6px;
				background-color: #e6e6f0;
				border-radius: 20px;
				margin-right: 6px;
			}
		}
	}

	.sidebar {
		margin-top: 30px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 0;

		svg {
			width: 130px;
			height: 60px;
		}
	}

	.burger,
	.close,
	.check-burger {
		display: none;
	}

	.navbar:active {
		background: none;
	}

	.menu {
		display: flex;
		flex-direction: row;
		gap: 0;
		position: static;
		border-radius: 0;
		transform: translate(0, 0);
		background: none;
		margin: 30px 0 0 0;
		padding: 0;

		&-link {
			display: flex;
			list-style: none;
			line-height: 20px;
			color: #fff;
			margin-left: 15px;

			font: {
				family: $font-stack;
				weight: 700;
				size: 16px;
			}

			&:not(.active-link) {
				&:hover {
					border-bottom: 2px solid #fff;
					transition: all 0.2s ease;
				}
			}
		}

		a {
			background: none;
			width: auto;
			border-radius: 0;

			&:active {
				background: none;
			}
		}
	}

	.active-link {
		margin-left: 0;
		color: #f0145a;
		border-bottom: 2px solid #f0145a;
	}

	h1 {
		width: 100%;
		margin: 135px auto 330px auto;
	}
}

@media (min-width: 1024px) {
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.logo {
		display: none;
	}

	.logo-desktop {
		display: block;
	}

	.nav {
		margin: 16px 0 0 0;
	}

	.navbar {
		display: flex;
		justify-content: flex-end;
	}

	.contact {
		padding: 0;
	}

	.sidebar {
		align-items: flex-end;
		margin: 0;
		padding: 0;
	}

	h1 {
		margin-top: 250px;
	}
}

@media (min-width: 1920px) {
	.wrapper {
		padding: 50px 160px;
	}

	// header {
	//     padding: 50px 160px;
	// }
}
